.boidsBackground {
	position: absolute;
	inset: 0;         /* shorthand for top: 0; right: 0; bottom: 0; left: 0 */
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1;
	display: block;
	contain: paint;

}

